* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0; /* This will change the background color of the entire page */
}
  
section {
    width: 75%;
    background-color: #ffffff; 
    padding: 20px; 
} 

form {
    background-color: #ffffff; 
}

h1 {
    text-align: center;
}

section > ul, .nav-item {
    margin: 10px 0 30px 0;
}

#floatingTextarea {
    margin-bottom: 20px;
}

section > button {
    margin: 20px 0 10px 0;
}

.edit, .remove {
    margin-right: 10px;
}